{% extends "base.html" %}
{% block title %}Clusters{% endblock %}
{% block content %}

<h1 class="title">All Clusters
    <span class="links">
        <a href="./clusters.tsv"
           title="Download Clusters as Tab-Separated-Values (TSV)"
           class="button is-light">
            <span class="icon"><i class="fas fa-file-download"></i></span>
        </a>
    </span>
</h1>

<table class="table is-striped is-hoverable is-fullwidth" data-sortable>
    <thead>
        <tr>
            <th>Cluster</th>
            <th><abbr title="Master Nodes">MN</abbr></th>
            <th><abbr title="Worker Nodes">WN</abbr></th>
            <th>Inst. Types</th>
            <th><abbr title="Spot Instances?">S?</abbr></th>
            <th>Version</th>
            <th><abbr title="Ingresses">I</abbr></th>
            <th><abbr title="Pods">P</abbr></th>
            <th><abbr title="User Pods">UP</abbr></th>
            <th>CPU</th>
            <th>Memory (GiB)</th>
            <th class="has-text-right">Cost</th>
            <th class="has-text-right">Slack Cost</th>
            {% if links['cluster']: %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for cluster_id, summary in cluster_summaries.items() %}
        {% set cluster_id_name = cluster_id | replace("/", "-") %}
        <tr>
            <td><a href="./cluster-{{ cluster_id_name }}.html">{{ summary.cluster.name }}</a></td>
            <td class="has-text-right">{{ summary.master_nodes }}</td>
            <td class="has-text-right">{{ summary.worker_nodes }}</td>
            <td>{{ summary.worker_instance_types|join(', ') }}</td>
            <td>{% if summary.worker_instance_is_spot: %}
                <span class="icon"><i class="fas fa-percentage has-text-success"></i></span>
                {% endif %}
            </td>
            <td>{{ summary.kubelet_versions|join(', ') }}</td>
            <td class="has-text-right">{{ summary.ingresses|count }}</td>
            <td class="has-text-right">{{ summary.pods|count }}</td>
            <td class="has-text-right">{{ summary.user_pods }}</td>

            <td style="font-size: 0.75rem" data-value="{{ summary.usage.cpu }}">
                <div class="resource-labels">
                    <span>{{ summary.usage.cpu|cpu }}</span> <span>{{ summary.requests.cpu|cpu }}</span> <span>{{ summary.allocatable.cpu|cpu }}</span>
                </div>
                <div class="resource-bar" title="Usage in green; requested in black; allocatable in grey.">
                    <progress class="progress" value="{{ summary.requests.cpu }}" max="{{ summary.allocatable.cpu }}"></progress>
                    <progress class="progress is-primary" value="{{ summary.usage.cpu }}" max="{{ summary.allocatable.cpu }}"></progress>
                </div>
            </td>
            <td style="font-size: 0.75rem" data-value="{{ summary.usage.memory }}">
                <div class="resource-labels">
                    <span>{{ summary.usage.memory|memory('GiB') }}</span> <span>{{ summary.requests.memory|memory('GiB') }}</span> <span>{{ summary.allocatable.memory|memory('GiB') }}</span>
                </div>
                <div class="resource-bar" title="Usage in green; requested in black; allocatable in grey.">
                    <progress class="progress" value="{{ summary.requests.memory }}" max="{{ summary.allocatable.memory }}"></progress>
                    <progress class="progress is-primary" value="{{ summary.usage.memory }}" max="{{ summary.allocatable.memory }}"></progress>
                </div>
            </td>
            <td class="has-text-right">{{ summary.cost|money }}</td>
            <td class="has-text-right">{{ summary.slack_cost|money }}</td>
            {% if links['cluster']: %}
            <td class="links">
                <div class="buttons has-addons">
                    {% for link in links['cluster']: %}
                    {% set cluster_id_name = summary.cluster.id | replace("/", "-") %}
                    <a href="{{ link.href.format(id=cluster_id_name, name=summary.cluster.name, api_server_url=summary.cluster.api_server_url) }}"
                       title="{{ link.title.format(id=summary.cluster.id, name=summary.cluster.name, api_server_url=summary.cluster.api_server_url) }}"
                       class="button is-small">
                        <span class="icon"><i class="fas fa-{{ link.icon }}"></i></span>
                    </a>
                    {% endfor %}
                </div>
            </td>
            {% endif %}

        </tr>

        {%endfor %}
    </tbody>

</table>
{% endblock %}
